{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Django App</title>
</head>
<body>
   <h1>Приветствую вас на моем первом Django приложении</h1>
   <h2>Подзаголовок моего приложения</h2>
   <textarea style="width: 1000px; height: 200px;">Какой-то текст. Очень интересный.</textarea>
   <h2>Еще какой-то подзаголовок моего приложения</h2>
   <img style="width: 500px; height: 400px" src="{% static 'common/New image.jpg' %}" alt="Welcome image">
</body>
</html>
